* {
  /* testing boxes */
  /* border: 1px;
  border-color: green;
  border-style: solid; */
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(19, 27, 48);
  color: rgb(255, 255, 255);
  font-family: "Inconsolata", monospace;
}

.section-title {
  font-size: 3.75rem;
  margin: 2rem;
}

/* the overlay (background) */
/* overlay menu button*/
#overlay-menu {
  position: fixed;
  top: 28%;
  right: 3%;
}

/* view mode toggle*/
.view-toggle {
  position: fixed;
  top: 43%;
  right: 3%;
}

/*light mode toggle setting*/
.light-mode {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);
}

.icon-img {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 10%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10%;
  transition: background-color 0.3s;
}
.icon-img:hover {
  background-color: #464646;
  color: white;
}

/* social media*/
#git-hub-icon {
  position: fixed;
  top: 58%;
  right: 3%;
  height: 2.75rem;
  width: 2.75rem;
  background-color: #ffffff;
  border-radius: 10%;
  transition: background-color 0.3s;
}
#git-hub-icon:hover {
  background-color: #464646;
  color: white;
}

#linkedin-icon {
  position: fixed;
  top: 71%;
  right: 3%;
  height: 2.75rem;
  width: 2.75rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10%;
  transition: background-color 0.3s;
}
#linkedin-icon:hover {
  background-color: #464646;
  color: white;
}

/* close button position */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* overlay reveal*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

/* overlay contents in overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* overlay effects*/
.overlay a:hover,
.overlay a:focus {
  color: #00c711;
}

/* splash page */
.splash-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 800px;
  font-weight: bolder;
  text-align: center;
}

/* bio */
.bio-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 800px;
  font-weight: bolder;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  font-weight: bolder;
}

.bio-format,
.resume-format {
  text-align: left;
  font-size: 16px;
}

/* bullet change*/
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* links */
.resource-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  font-weight: bolder;
  text-align: left;
}

.contact-format{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 800px) {
  /* section formatting */
  .row {
    display: block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    font-size: 4.75rem;
    margin: 0.5rem;
  }

  /* section sizing */
  .splash-page,
  .resume-section,
  .bio-section,
  .resource-section {
    height: 900px;
  }

  .col-sm-4 {
    display: block;
  }

  .bio-format,
  .resume-format {
    text-align: left;
    font-size: 1.25rem;
    font-weight: normal;
  }

  li {
    display: block;
  }

  /* buttons */
  #overlay-menu {
    position: fixed;
    top: 28%;
    left: 3%;
    height: 2.25rem;
    width: 2.25rem;
  }

  .view-toggle {
    position: fixed;
    top: 43%;
    left: 3%;
    height: 2.25rem;
    width: 2.25rem;
  }

  .git-hub-icon {
    position: fixed;
    top: 58%;
    left: 3%;
    height: 2.25rem;
    width: 2.25rem;
  }

  .linkedin-icon {
    position: fixed;
    top: 71%;
    left: 3%;
    height: 2.25rem;
    width: 2.25rem;
  }

}
