* {
  /* testing boxes */
  border: 1px;
  border-color: green;
  border-style: solid;
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(81, 81, 81);
}

/* dropdown menu */
/* what the dropdown button looks like*/
.dropbtn {
  background-color: #249beb;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* button hover*/
.dropbtn:hover {
  background-color: #334857;
}
/* button format */
.dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
}
/* dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #249beb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
/* button hover #2*/
.dropdown-content a:hover {
  background-color: #334857;
  border-radius: 10px;
  font-weight: bold;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
  visibility: visible;
}

/* splash page */
.splash-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1100px;
  background-color: rgb(53, 0, 90);
  color: white;
  font-weight: bolder;
  text-align: center;
}

/* bio */
.bio-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1100px;
  background-color: rgb(53, 0, 90);
  color: white;
  font-weight: bolder;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.bio-font .resume-font{
  text-align: center;
}

/* links */
.resource-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bolder;
  text-align: left;
}


/* scroll button up*/
#scroll-top-btn-home{
  position: fixed;
  bottom: 70px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
}
#scroll-top-btn-home:hover {
  background-color: #555;
}

/* scroll button down*/
#scroll-top-btn-down {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
}
#scroll-top-btn-down:hover {
  background-color: #555;
}